/* General Styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif; /* Professional font */
    background-color: #121212;
    color: #ffffff;
    padding:0;
}
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 100vh;   
}
.left {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    text-align: left; /* Align all text and items to the left */
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding: 20px;
}

.title {
    font-size: 3rem; /* Increased font size */
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Poppins", sans-serif; /* Modern font for title */
}

.description {
    font-size: 1.2rem; /* Increased font size */
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.find-jobs {
    background-color: #4f46e5;
    color: white;
    font-size: 1.1rem; /* Slightly larger font size */
    padding: 12px 24px; /* Adjusted padding for a professional look */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: left; /* Ensures alignment to the left */
}

.find-jobs:hover {
    background-color: #3730a3;
    transform: scale(1.05);
}

.desktop-image {
    display: none;
    max-width: 100%;
    height: auto;
}

.mobile-image {
    display: none;
    width: 100%;
    height: auto;
}

/* Responsive Design */
@media (min-width: 768px) {
    .desktop-image {
        display: block;
    }

    .mobile-image {
        display: none;
    }

    .home-container {
        flex-direction: row;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .desktop-image {
        display: none;
    }
    .mobile-image {
        display: block;
    }

    .home-container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .left,
    .right {
        width: 100%;
        
    }

    .title {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .find-jobs {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
